@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.sidebar {
  height: 100vh;
  width: 250px;
  background-color: white;
  border-right: 3px solid #e5e7eb;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 34px;
  font-weight: bold;
  color: #2563eb;       
  padding: 30px 24px;  
  
  display: flex;        
  align-items: center;
  gap: 12px;
}

.HomeTab, 
.ExportTab, 
.CoffeeTab, 
.BugTab,
.SettingsTab {
  font-size: 25px;
  color: #4b5563;       
  padding: 24px 24px;   
  cursor: pointer;
  transition: all 0.2s;
  font-family: 'Inter', sans-serif;

  display: flex;        
  align-items: center;
  gap: 16px;  
  
  margin-bottom: 8px;
}

.HomeTab:hover, 
.ExportTab:hover, 
.CoffeeTab:hover, 
.BugTab:hover,
.SettingsTab:hover {
  background-color: #f3f4f6; 
  color: #111827;            
  border-right: 3px solid #2563eb; 
}

.Icon {
  font-size: 35px;
}

.textLeft {
  padding-left: 15px;
}